{% extends "_templates/home_base.twig" %}
{% block content %}
    <div class="main-content clearfix">
        <nav class="breadcrumbs small">
            <ul>
                <li><a href="{{ constant('URL') }}home"><i class="icon-home"></i></a></li>
                <li><a href="#">Bài viết</a></li>
            </ul>
        </nav>
        <div class="grid">
            <div class="row">
                <div class="span9">
                    {% for article in articles %}
                        <div class="article-vertical col4">
                            <div class="post-image"><img src="{{ constant('URL') }}public/img/landscape/0{{ article.id%4+1 }}.jpg"/></div>
                            <div class="entry-content">
                                <p>{{ article.title }}</p>
                                <div class="rating small" data-role="rating" data-static="true" data-score="{{ article.rating }}" data-stars="5"></div>
                                <a href="{{ constant('URL') }}articles/detail/{{ article.id }}" class="read-more">Xem</a>
                            </div>
                        </div>
                        {% if article.id%3==0 %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="span4">
                    <div class="panel">
                        <div class="panel-header">
                            Danh mục bài viết
                        </div>
                        <div class="panel-content">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}