{% extends "_templates/home_base.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ constant('URL') }}public/js/application/activity.js"></script>
    <script>
        function text(comment) {
            if (comment.length > 0) {
                $('#submit').show().fadeIn();
            }
            else {
                $('#submit').hide().fadeOut();
            }
        }

        function addComment() {
            var id = {{ activity.id }};
            var comment = '"' + $('#comment').val() + '"';
            {% if userLogged == 0 %}
            var name = $('#commenter').val();
            var office = $('#office').val();
            {% else %}
            var name = "{{ userLogged.fname ~ ' ' ~ userLogged.lname }}";
            var office = "{{ userLogged.office }}";
            {% endif %}
            $.post("{{ constant('URL') }}activities/addComment",
                    {
                        id: id,
                        comment: comment,
                        name: name,
                        office: office
                    }
            ).done(function () {
                        $('#comment').val('');
                        $('#submit').hide().fadeOut();
                        getComments(id);
                        var tab = $('#tab_2');
                        var nComments = tab.data('value');
                        $('#stat_2').html('<i class="icon-star"></i>Trực tiếp (' + nComments + ')');
                    }
            );
        }

        function getComments(id) {
            $.post("{{ constant('URL') }}/activities/getComments", {id: id},
                    function (data) {
                        $(".listComments").html(data);
                        var tab = $('#tab_2');
                        var nComments = tab.data('value');
                        $('#stat_2').html('<i class="icon-star"></i>Trực tiếp (' + nComments + ')');
                    })
        }

        /*setInterval(function () {
         var tab = $('#_tab_2');
         var id = tab.data('value');
         var type = tab.data('role');
         getComments(id, type);
         }, 3000);*/
    </script>
{% endblock %}
{% block title %}
    Hoạt động - {{ activity.name }}
{% endblock %}
{% block content %}
    {% set objectType = 3 %}
    {% set object = activity %}
    {% set midUrl = 'activities/detail/' %}
    <div class="main-content clearfix">
        <nav class="breadcrumbs small">
            <ul>
                <li><a href="{{ constant('URL') }}home"><i class="icon-home"></i></a></li>
                <li><a href="{{ constant('URL') }}activities">Hoạt động</a></li>
            </ul>
        </nav>
        <div class="grid">
            <div class="row">
                <div class="span9">
                    <p style="color: #93a1a1">
                        <span><strong>{{ activity.createDate|date('d/m/Y h:i') }}</strong></span>
                        {% include "_templates/sharer.twig" %}
                    </p>
                    <div class="margin20"></div>
                    <div class="tab-control" data-role="tab-control">
                        <ul class="tabs">
                            <li class="place-left"><a href="#_info"><i class="icon-info on-left"></i>Thông tin hoạt động</a>
                            </li>
                            <li class="place-left"><a href="#_comments"><i class="icon-comments on-left"></i>Bình
                                    luận</a></li>
                        </ul>
                        <div class="frames">
                            <div class="frame" id="_info">
                                <style type="text/css">
                                    #_info ul li p:first-child {
                                        font-size: 20px;
                                        color: #00356a;
                                        font-weight: bold;
                                    }
                                    #_info ul li p:nth-child(2) {
                                        font-size: 16;
                                        color: #000000;
                                        font-style: italic;
                                    }
                                    #_info ul {
                                        margin-top: 40px;
                                    }
                                    #_info ul li .thumbnail {
                                        width: 300px;
                                        height: 200px;
                                        float: left;
                                        margin-bottom: 30px;
                                        margin-right: 20px;
                                    }
                                </style>
                                <h2><strong>{{ activity.name }}</strong></h2>
                                <ul>
                                    <li>
                                        <p>Giới thiệu hoạt động</p>
                                        <div class="thumbnail"><img src="{{ constant('URL') ~ 'public/img/' ~ activity.imageUrl}}"></div>
                                        <p style="text-indent: 10px">{{ activity.description }}</p>
                                    </li>
                                    <li>
                                        <p>Đối tượng tình nguyện:</p>

                                        <p></p>
                                    </li>
                                    <li>
                                        <p>Số lượng TNV cần tuyển:</p>

                                        <p></p>
                                    </li>
                                    <li>
                                        <p>Yêu cầu:</p>

                                        <p></p>
                                    </li>
                                    <li>
                                        <p>Thông tin liên hệ:</p>

                                        <p></p>
                                    </li>

                                </ul>
                                <div class="margin20"></div>
                            </div>
                            <div class="frame" id="_comments">
                                {% include "_templates/comments.twig" %}
                            </div>
                        </div>
                    </div>
                    <!--Activity's content-->
                    <div class="margin20"></div>
                </div>
                <div class="span4">
                    <div class="panel">
                        <div class="panel-header">
                            Thông tin hoạt động
                        </div>
                        <div class="panel-content">
                            <div class="countdown" data-style-background="bg-lightRed" data-role="countdown"
                                 data-stoptimer="{{ activity.startday }}"></div>
                            <p><span class="icon-calendar on-left fg-blue"></span>Ngày bắt đầu: {{ activity.startday }}
                            </p>

                            <p><span class="icon-calendar on-left fg-blue"></span>Ngày kết thúc: {{ activity.endday }}
                            </p>

                            <p><span class="icon-location on-left fg-blue"></span>Địa điểm: <a
                                        href="{{ constant('URL') }}map">Xem bản đồ</a></p>
                            {% if date() < date(activity.startday) %}
                                <p style="text-align: center">
                                    <button class="button large primary" id="button-takePart"
                                            onclick="takePart({% if userLogged != 0 %}{{ userLogged.id }} {% else %} {{ 0 }}{% endif %}, {{ activity.id }})">
                                        <i class="icon-plus-2 on-left"></i>Đăng kí tham gia
                                    </button>
                                </p>
                            {% else %}
                                <p style="text-align: center">
                                    <button class="button large disabled">Hoạt động đã diễn ra</button>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="margin20"></div>
                    <div class="panel">
                        <div class="panel-header">
                            Hoạt động cùng loại
                        </div>
                        <div class="panel-content">
                            <ul>
                                {% for activity in otherActivities %}
                                    <li>
                                        <a href="{{ constant('URL') }}activities/detail/{{ activity.id }}">{{ activity.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}